!.gitkeep
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sitemap.xml
sitemap.xml.gz
*.log
.idea/

bin
vendor
node_modules
.vagrant
*.map
*.pyc
.mypy_cache

logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.vscode/*
.tags*

*.bundle.js
bundle.js
log/
tags
tsconfig.tsbuildinfo
.rpt2_cache

# project
.next
out
test-report.html
analyze.txt
storybook-static
next-env.d.ts
dist
__screenshots__
.reg
trace.zip
.jest-test-results.json
jest-html-report
html-report

.yarn/cache
install-state.gz
!.yarn/release/*
volume
.terraform
buildSchema.*

build
